<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Template base{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index' ) }}">Home</a></li>
                <li><a href="{{ url_for('register' ) }}">Add Usuário</a></li>
                <li><a href="{{ url_for('listar' ) }}">Listar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>