<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body data-theme="{{ theme }}">
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                {% if current_user.is_authenticated %}
                    <p>Bem vindo, {{ current_user.nome }}!</p>
                    <li><a href="{{ url_for('criar_post') }}">Criar Post</a></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                {% else %}
                    <p>Faça login para criar os posts!</p>
                    <a href="{{ url_for('register') }}">Clique aqui para se registrar</a> <br>
                    <a href="{{ url_for('login') }}">Clique aqui para fazer Login</a>
                {% endif %}
            </ul>
        </nav>

        <button id="theme-toggle">Alternar Tema</button>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2025 Meu Blog</p>
    </footer>
    
    <script>
        document.getElementById('theme-toggle').addEventListener('click', function () {
            window.location.href = "{{ url_for('toggle_theme') }}";
        });
    </script>
</body>
</html>